# ==========================================
# Data & Logs (Local Storage)
# ==========================================
# 忽略所有层级下的 data 文件夹
data/
# 忽略所有层级下的 flink-data 文件夹
flink-data/
flink-1.18.1/
workspace/
prometheus/
.env

# 忽略所有 maven 编译输出
**/target/

# 忽略日志和临时数据
*.log
/.continue/
/.idea/
